@charset "UTF-8";
/* CSS Document */

/*FONTS*/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
*/

/*NAVIGATION*/
.navbar-brand {
	margin-left: 32px;
}

button {
	border-radius: 80px;
	background-color:#000040;
	border: none;
}

button a.nav-link {
	color:#fff;
}
.navbar {
	background-color: transparent !important;
	color: #000040;
}

.nav-item {
	padding-left: 17px;
	padding-right: 17px;
}
a.nav-link {
	color:#000040;
}

a.nav-link:hover {
	color:#C0C000;
}

.navbar-toggler-icon {
	background-image: url('../images/baidu-paw-logo.svg');
}

.dropdown-menu {
	border: none;
}


/*JUMBOTRON*/
.pup-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3.5em;
	letter-spacing: 5px;
}

.pup-logo .letter {
  display: inline-block;
  line-height: 1em;
}

.feature, .headline {
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

.feature:hover {
	color: #c0c000;
}

.bdes {
	font-family: 'Montserrat', sans-serif;
}
.subheading {
	font-size: 10px;
	margin-bottom: 40px;
	font-family: 'Montserrat', sans-serif;
}
.jumbotron {
	background-color: transparent;
}

.ygreendiv {
	background-color: #c0c000;
	width: 100px;
	height: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.square {
  pointer-events: none;
  position: absolute;
  width: 100px;
  height: 65px;
}
.navy {
	background-color: #000040;
	top:330px;
	right: 47px;
	width: 50px !important;
}

.ygreen {
	background-color: #c0c000;
	opacity: .6;
	top:300px;
	right: 47px;
	z-index: 1;
}

/*Galaxies*/
/* Portrait */

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait)  { 
	.ygreen {
		background-color: #c0c000;
		opacity: .6;
		top:315px;
		right: -25px;
		z-index: 1;
	}
	  .pup-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
}
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) { 
	.navy {
		background-color: #000040;
		opacity: .6;
		top:315px;
		right: -25px;
		z-index: 1;
	}
}

/*iphone 6,7,8 and x*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)  { 
	.ygreen {
		background-color: #c0c000;
		opacity: .6;
		top:315px;
		right: -18px;
		z-index: 1;
	}
	.pup-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)  { 
	.navy {
		background-color: #000040;
		opacity: .6;
		top:347px;
		right: -18px;
		z-index: 1;
	}
}

/*iphone 6,7,8 plus*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)  { 
	.ygreen {
		background-color: #c0c000;
		opacity: .6;
		top:315px;
		right: 2px;
		z-index: 1;
	}
	
	.pup-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
}

}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)  { 
	.navy {
		background-color: #000040;
		opacity: .6;
		top:347px;
		right: 2px;
		z-index: 1;
	}
}

/*tablet*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 325px) 
and (orientation : portrait)  { 
	.ygreen {
		background-color: #c0c000;
		opacity: .6;
		top:315px;
		right: 2px;
		z-index: 1;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 325px) 
and (orientation : portrait)  { 
	.navy {
		background-color: #000040;
		opacity: .6;
		top:344px;
		right: 2px;
		z-index: 1;
	}
}

/*Retailers*/

.gen-brand-logo {
	height: 250px;
	width: 250px;
}

/*Offer*/

.offer {
	background-color: #000040;
	color:#fff;
	padding: 10px;
}

.offer button {
	background-color: #c0c000;
}

.offer a:hover {
	color:#000040; 
}

/*Footer*/
.about-text {
	width: 50%;
}
footer {
	margin-top: 20px;
}

footer a {
	color:#c0c000;
}

.reference {
	font-size: 10px;
}